<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page.title }} | {{ site.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
			<header id="header">
				<h1><a href="/">世以子</a></h1>
				<nav>
					<ul>
						<li><b><a href="#one">Round One</a></b></li>
						<li><b><a href="#two">Round Two</a></b></li>
						<li><b><a href="#work">All Flavors</a></b></li>
						<li>|</li>
						<li><b><a href="lewds">18+</a></b></li>
					</ul>
				</nav>
			</header>
            {{ content }}
			<footer id="footer">
					<ul class="icons">
						<li><a href="https://discord.gg" class="icon brands fa-discord"><span class="label">Twitter</span></a></li>
						<li>kanmusu</li>
						<li> | </li>
						<li><a href="https://twitter.com/kanmusuwu" class="icon brands fa-twitter"><span class="label">Pinterest</span></a></li>
						<li>@kanmusuwu</li>
					</ul>
					<ul class="menu">
						<li>&copy; 世以子</li><li>2023</li>
					</ul>
			</footer>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
	</body>
</html>